<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/art-projects">Art Projects</a></li>
				<li><a href="/exploration-photos">Exploration Photos</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="cfreeman@leaflabs.com">cfreeman@leaflabs.com</a></li>
				<li><a href="cwf@riseup.net">cwf@riseup.net</a></li>
	        		<li><a href="https://github.com/charlesfreeman">github.com/charlesfreeman</a></li>
				</ul>
			</footer>
		</body>
	</html>
